@model IEnumerable<takim1.Models.Takim>

@*<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
	<ul class="nav navbar-nav nav_1">
		@foreach(var nesne in Model)
		{
			<li><a href="products.html">@nesne.TakimAdi</a></li>
		}
	</ul>
</div>
*@

<li class="has-children">
  <a href="/AnaSayfa/Takimlar">Takımlar</a>
  <ul class="dropdown">
		@foreach(var nesne in Model)
		{
			@if(nesne.TakimDurum)
			{
				<li><a href="/AnaSayfa/TakimBilgi/@nesne.TakimId">@nesne.TakimAdi</a></li>
			}
		}
  </ul>
</li>