@model List<deneme2.Models.Tercuman>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Tercumanlar</h2>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th>
            <th scope="col">Durumu</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var y in Model)
        {
            <tr>
                <th scope="row"></th>
                <td>@y.TrcId</td>
                <td>@y.TrcAdi</td>
                <td>@y.TrcSoyadi</td>
                <td>@y.TrcDurum</td>
                <td> <a href="/Tercuman/TercumanGet/@y.TrcId"><button class="btn btn-sm btn-info">Guncelle</button> </td>
                <td> <a href="/Tercuman/TercumanSil/@y.TrcId"><button class="btn btn-sm btn-danger">Sil</button> </a> </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="TercumanEkle" asp-controller="Tercuman"><button class="btn btn-sm btn-outline-success ">Tercuman Ekle</button> </a>