@model List<deneme2.Models.Kitap>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .kitap-resim{
        width:3vw;
        height:10vh;
    }
</style>

<h2>Kitaplar</h2>
<br />
<table class="table table-active">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Adı</th>
            <th scope="col">KategoriId</th>
            <th scope="col">Durum</th>
          @*<th scope="col">YazarId</th>
            <th scope="col">TercumanId</th>
            <th scope="col">Yorumlar</th>*@
            <th scope="col">Guncelle</th>
            <th scope="col">Ekle</th>
            <th scope="col">Detay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var k in Model)
        {
            <tr>
                <th scope="col"></th>
                <td scope="col">@k.KitapId</td>
                <td scope="col">@k.KitapAdi</td>
                <td scope="col">@k.Kategori.KtgId</td>
                <td>@k.KitapDurum</td>
                <td scope="col"><a href="/Kitap/KitapGet/@k.KitapId"><button class="btn btn-sm btn-info">Guncelle</button> </td>
                <td scope="col"><a href=""><button class="btn btn-sm btn-danger">Detay</button> </a> </td>
                <td scope="col"><a href="/Kitap/KitapSil/@k.KitapId"><button class="btn btn-sm btn-danger">Sil</button> </a> </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="KitapEkle" asp-controller="Kitap"><button class="btn btn-sm btn-outline-success ">Kitap Ekle</button> </a>