@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/navbar/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/navbar/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/navbar/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/navbar/css/style.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Ana Sayfa</title>
</head>
<body>


    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="site-logo col-6"><a asp-action="Index" asp-controller="AnaSayfa">Futbol Takımlarım!</a></div>

                <nav class="mx-auto site-navigation">
                    <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                        <li><a asp-action="Index" asp-controller="AnaSayfa" class="nav-link active">Ana Sayfa</a></li>
                        
                        <li><a href="about.html">Futbolcular</a></li>
                        @await Component.InvokeAsync("TakimListele") 
                        <li><a href="blog.html">Teknik Adamlar</a></li>

@*                        <li class="d-lg-none"><a href="post-job.html"><span class="mr-2">+</span> Post a Job</a></li>
*@                        <li class="d-lg-none"><a href="login.html">Log In</a></li>
                    </ul>
                </nav>

                <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                    <div class="ml-auto">
@*                        <a href="post-job.html" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Job</a>
*@                        <a asp-action="Index" asp-controller="Giris" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Admin Giriş</a>
                    </div> 
                    <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                </div>

            </div>
        </div>
    </header>
    <div class="hero" style="background-image: url('/navbar/images/adam.png');"></div>

    <div>
        @RenderBody()
    </div>
    <div class="futbolcu-kartlar">
        <div class="card futbolcu-kart" style="width: 18rem;">
            <img class="card-img-top" style="width:150px;height:120px;" src="https://img.a.transfermarkt.technology/portrait/big/336077-1665592010.png?lm=1">
                <div class="card-body">
                  <h5 class="card-title">Altay Bayındır</h5>
@*                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
*@                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">mevkii</li>
                  <li class="list-group-item">numara</li>
                  <li class="list-group-item">yas</li>
                  <li class="list-group-item">takım</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">detay</a>
                </div>
        </div>
        <div class="futbolcu-kart">
            <img src="https://img.a.transfermarkt.technology/portrait/big/336077-1665592010.png?lm=1" />
            <h4>altay bayındır</h4>
            <h5>mevkii</h5>
            <h5>numara</h5>
            <h5>takım</h5>
            <button>Detay</button>
        </div>
        <div class="futbolcu-kart">
            <img src="https://img.a.transfermarkt.technology/portrait/big/336077-1665592010.png?lm=1" />
            <h4>altay bayındır</h4>
            <h5>mevkii</h5>
            <h5>numara</h5>
            <h5>takım</h5>
            <button>Detay</button>
        </div>
        <div class="futbolcu-kart">
            <img src="https://img.a.transfermarkt.technology/portrait/big/336077-1665592010.png?lm=1" />
            <h4>altay bayındır</h4>
            <h5>mevkii</h5>
            <h5>numara</h5>
            <h5>takım</h5>
            <button>Detay</button>
        </div>
        <div class="futbolcu-kart">
            <img src="https://img.a.transfermarkt.technology/portrait/big/336077-1665592010.png?lm=1" />
            <h4>altay bayındır</h4>
            <h5>mevkii</h5>
            <h5>numara</h5>
            <h5>takım</h5>
            <button>Detay</button>
        </div>
    </div>


    <script src="~/navbar/js/jquery-3.3.1.min.js"></script>
    <script src="~/navbar/js/popper.min.js"></script>
    <script src="~/navbar/js/bootstrap.min.js"></script>
    <script src="~/navbar/js/jquery.sticky.js"></script>
    <script src="~/navbar/js/main.js"></script>
</body>
</html>