@model List<deneme2.Models.Yazar>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Yazarlar</h2>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Adı</th>
            <th scope="col">Soyadı</th>
            <th scope="col">Durumu</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var y in Model)
        {
            <tr>
                <th scope="row"></th>
                <td>@y.YazarId</td>
                <td>@y.YazarAdi</td>
                <td>@y.YazarSoyadi</td>
                <td>@y.YazarDurum</td>
                <td> <a href="/Yazar/YazarGet/@y.YazarId"><button class="btn btn-sm btn-info">Guncelle</button> </td>
                <td> <a href="/Yazar/YazarSil/@y.YazarId"><button class="btn btn-sm btn-danger">Sil</button> </a> </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="YazarEkle" asp-controller="Yazar"><button class="btn btn-sm btn-outline-success ">Yazar Ekle</button> </a>