@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Kim Giriş Yapıyor</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    
    <div class="ana-div">
        <div class="butonlar">
            <a class="ghost" href="/KullaniciGiris/Index">Kullanıcı Giriş</a>
            <a class="ghost" href="/Giris/Index">Admin Giriş</a>
        </div>
        <div class="kaydol-div">
            <p class="kaydol-p">Henüz kaydolmadın mı?</p>
            <a class="ghost" href="#">Hemen Kaydol...</a>
        </div>
    </div>
</body>
</html>